@{
    ViewData["Title"] = "MyPartyRsvp - Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MyPartyRsvp</h1>
    <img src="~/antonia-lombardi-unsplash.jpg" width=150 height=150 />
    <img src="~/bryan-burgos-unsplash.jpg" width=150 height=150 />
    <img src="~/christopher-campbell-unsplash.jpg" width=150 height=150 />
    <img src="~/cristian-newman-unsplash.jpg" width=150 height=150 />
    <img src="~/gabor-molnar-unsplash.jpg" width=150 height=150 />
    <img src="~/laurent-b-unsplash.jpg" width=150 height=150 />
    <img src="~/masaaki-komori-unsplash.jpg" width=150 height=150 />
    <img src="~/peter-boshra-unsplash.jpg" width=150 height=150 />
    <img src="~/rachel-lynette-french-unsplash.jpg" width=150 height=150 />
    <img src="~/serena-repice-lentini-unsplash.jpg" width=150 height=150 />
</div>
