<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>WebAPI and Jquery</title>
<link
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    rel="stylesheet">
    <!--  
    <link href="style.css" rel="stylesheet" >
    -->
<script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
    <h1>RESTful WebAPI and JQuery Example - Chat</h1>
	<div>
		<button>Get Chat</button><br />
		<hr />
		<h4>Chats Found: <span id="chatsfound"></span></h4><br />
		<h3><span id="root"></span></h3>
	</div>
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="chat.js"></script>
</body>

</html>