@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="text-center">
        <h1 class="display-4">Actually! We're Getting Hitched! Join us?</h1>
    </div>
    <div>
        <img src="~/images/psb_uk001.jpg" class="img" alt="My image"/>
    </div>
</div>

