@model PartyRSVP.Models.GuestResponse
@{
    ViewData["Title"] = "RSVP Page";
    Layout = "_Layout";
}

<div id="rsvp">
    <div class="row">
        <div class="col-12" style="padding: 5px 2px; text-align:center;">
            <h1>Welcome to the RSVP Page!</h1>
            <p>Please enter your information below.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <form asp-action="RsvpForm" method="post">
            <p>
                <label asp-for="FirstName">Your First Name:</label>
                <input asp-for="FirstName" />
            </p>
            <p>
                <label asp-for="LastName">Your Last Name:</label>
                <input asp-for="LastName" />
            </p>
            <p>
                <label asp-for="Email">Your Email:</label>
                <input asp-for="Email" />
            </p>
            <p>
                <label asp-for="Phone">Your Phone Number:</label>
                <input asp-for="Phone" />
            </p>
            <p>
                <label>Will you Attend?</label>
                <select asp-for="WillAttend">
                    <option value=""></option>
                    <option value="true">Yes, I will be there</option>
                    <option value="false">No, I will not</option>
                </select>
            </p><br />
            <button type="submit" style="width:60%;padding:5px;margin:auto;">Submit Rsvp</button>
            </form> <!-- end form -->
        </div> <!-- end col-sm-9 -->

        <div class="col-sm-3 offset-sm-4">
            <img src="~/images/psb_uk009.jpg" height=150 width=227 class="img" alt="psb"/>
            <img src="~/images/psb_uk009.jpg" height=150 width=227 class="img" alt="psb"/>
            <img src="~/images/psb_uk009.jpg" height=150 width=227 class="img" alt="psb"/>
        </div> <!-- end col-sm-3 -->

    </div> <!-- end row -->
    <div class="row" style="text-align:center;font-size:40px; color: red;">
        <div class="col-sm-12">
            <p>Get ready to Party!</p>
        </div> <!-- end col-sm-12 -->
    </div><!-- end row -->

</div>