@model PartyRSVP.Models.GuestResponse
@{
    ViewData["Title"] = "Oh! Okay...";
    Layout = "_Layout";
}
<div class="row">
    <div class="col-12">
        <div class="jumbotron">
        <h1 class="display-4">Sorry to Hear, @Model.FullName()!</h1>
        <p class="lead">If you change your mind before November 3, 2020. Let us know!</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/" role="button">Back to HOME</a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <img src="~/images/psb_uk004.jpg" height=260 width=280>
        <img src="~/images/psb_uk004.jpg" height=260 width=280>
        <img src="~/images/psb_uk004.jpg" height=260 width=280>
        <img src="~/images/psb_uk004.jpg" height=260 width=280>
    </div>
</div>


