/*Extreme small devices (portrait phones, up to 575px)*/
@media only screen and (max-width: 575px) {
    /* Font sizes */
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }

    td {
        font-size: 14px;
    }

    li {
        font-size: 18px;
        min-height: 55px;
    }

    i {
        font-size: 15px;
    }

    .f20 {
        font-size: 20px;
    }

    .f22 {
        font-size: 18px;
    }

    .f24 {
        font-size: 18px;
    }

    .f26 {
        font-size: 24px;
    }

    .f28 {
        font-size: 26px;
    }

    #myresume, #mywork, #repolist {
        display: block;
    }

    .repo, #myskills {
        display: none;
    }

    #repolist {
        padding: 0;
    }

    .repocontent {
        width: 85%;
        margin: auto;
    }

    .repolink {
        min-height: 50px;
    }

    .mywpheader {
        display: block;
    }

    .mywpline1 {
        flex-direction: column;
        flex-basis: 25%;
    }

    .mywpemp {
        display: flex;
        flex-basis: 25%;
        justify-content: center;
    }

    .mywpline2 {
        display: flex;
        flex-basis: 25%;
        justify-content: center;
    }

    #mycontact {
        display: block;
    }

    #myccontent {
        display: block;
    }

    #mycphotobox, #mycphotobox img {
        display: none;
    }

    #mycinst1 {
        flex-basis: 45%;
    }

    #mycinst2 {
        flex-basis: 45%;
    }

    #photorack {
        display: none;
        min-height: 150px;
    }

    #shoutout {
        padding-bottom: 15px;
    }

    #gototop {
        flex-direction: column;
    }

    #gototoplink {
        display: flex;
    }

    #gohidden {
        height: 120px;
    }

}
