<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Spring MVC Demo</title>

<link href="https://fonts.googleapis.com/css?
	family=Caveat+Brush|Liu+Jian+Mao+Cao|Nothing+You+Could+Do|Tangerine&display=swap" 
	rel="stylesheet">
<link href="css/style.css" type="text/css" rel="stylesheet">

</head>
<body>
<div class="container">
	<h2 class="tangerine font50">My Bizarre Story</h2>
	
	<p class="caveatbrush font22">I was watching TV with Mark, when suddenly...</p>
	<p>-</p>
	<p class="caveatbrush font22">a breaking news alert showed a llama running on the freeway.</p>
	<p>-</p>	
	<p class="caveatbrush font22">Even though we saw that 3 years ago, we still laugh to this day..</p>

</div>
</body>
</html>