body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Old Standard TT', serif;
}

h1, h2, h3 {
    color: #ff3300;
    text-align: center;
    text-transform: uppercase;
}
h2 {
    padding-bottom: 20px;
}
blockquote {
    width: 70%;
    padding: 25px 0;
    margin: 0 auto;
}
header {
    min-height: 50px;
}
footer {
    color: #fff;
    text-align: center;
}

.container {
    width: 85%;
    margin: 5px auto 0;
    padding-bottom: 10px;
    min-height: 50px;

    background-color: #fff;
}

.darkblock {
    display: block;
    min-height: 50px;
    background-color: #222;
    padding: 20px 0 5px;
}

.section {
    padding-bottom: 10px;
}
