@charset "ISO-8859-1";
body {
	background-color: #ffff99;
}

h2, .lighterbrown {
	color: #333300;
}

h3, .darkerbrown {
	color: #808000;
}

a:link,
a:visited,
a:hover,
a:active {
	color: #333300;
}

.tangerine {
	font-family: 'Tangerine', cursive;
}
.nothingdo {
	font-family: 'Nothing You Could Do', cursive;
}
.caveatbrush {
	font-family: 'Caveat Brush', cursive;
}
.maocao {
	font-family: 'Liu Jian Mao Cao', cursive;
}

.backgroundcolor {
	background-color: #ffff99;
}

.container {
	width: 85%;
	margin: auto;
	padding-top: 30px;
}

.font50 {
	font-size : 50px;
}
.font34 {
	font-size: 34px;
}
.font28 {
	font-size: 28px;
}
.font22 {
	font-size: 22px;
}
.font18 {
	font-size: 18px;
}

.submit {
	font-family: 'Tangerine', cursive;
	color: #808000;
	background-color: #ffff99;
	font-size: 28px;
	font-weight: bold;
	padding: 10px 8px;
}
.tlabel {
	font-family: 'Caveat Brush', cursive;
	color: #333300;
	font-size: 18px;
}

.tfield {	
	background-color: #ffff99;
	font-size: 14px;
	padding: 3px 2px;
}
