/* Header */
#mynameandoccupation {
}

#shoutout {
    position: relative;
}

#mycaption {
    position: absolute;
    bottom: 0;
    left: 0.31em;
    z-index: 99;
}

#mycaptionphoto {
    max-height: 25em;
}
#mycaptionphotoimg {
    max-height: 25em;
    width: 100%;
    opacity: 0.6;
    z-index: 10;
}


