body {
    background-color: #6699ff;
}

h1 {
    font-size: 30px;
    margin: 12px 0;
}
p {
    margin: 3px 0 15px 10px;
}

.container {
    height: 540px;
    width: 85%;
    margin: auto;
    /*    border: 1px solid red;*/
}
.row {
    margin: 3px 0;
}
.submit {
    margin: 10px 0;
}
#userentry {
    text-align: center;
    margin: 0 0 20px 0;
}
#idcard {
    background-color: #ffcce5;
    /*border-radius: 25px;*/
    border-radius: 1.563em;
    border: 5px solid black;
    width: 25em;
    height: 14em;
    margin: auto;
}

.left {
    float: left;
}
.right {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
    float: right;
    width: 200px;
    padding: 20px 10px;
}

.pname {
    width: 330px;
    margin: auto;
    padding: 10px 5px;
}
.pinfo {
    height: 80px;
    width: 360px;
    margin: 5px 15px 20px 35px;
}