@model _01_SecFromScratch.Models.User
@{
    Layout = null;
}
<h1>Create a New User</h1>

<form asp-controller="Home" asp-action="Create" method="POST">
    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
    </div>
    <div>
        <input type="submit" value="Create" />
    </div>
</form>

@* @{
    ViewData["Title"] = "Home Page";
    }

    <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div> *@
