@model _01_SecFromScratch.Models.User
@{
    Layout = null;
}
<h1>Login for treats</h1>

<form asp-controller="Home" asp-action="Login" method="POST">
    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
    </div>
    <div>
        <input type="submit" value="Login" />
    </div>
</form>