body
{
    background-color: ghostwhite;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.alegreya {
    font-family: 'Alegreya Sans', sans-serif;
}
.oldstandardtt {
    font-family: 'Old Standard TT', serif;
}

.col-1 {
    border: 1px solid slategrey;
}