<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Film Actors Page</title>
</head>
<body>
	<h1>Film Actors</h1>
	<div th:if="${!actors.empty}">
		<table>
		<tr>
			<th>Actor Id</th>
			<th>Actor First Name</th>
			<th>Actor Last Name</th>
			<th>Last Update</th>
		</tr>
		<tr th:each="actor : ${actors}">
			<td th:text="${actor.actor_id}">Actor ID</td>
			<td th:text="${actor.first_name}">Actor First Name</td>
			<td th:text="${actor.last_name}">Actor Last Name</td>
			<td th:text="${actor.last_update}">Last Update</td>
		</tr>
		</table>
	</div>
	<div th:if="${actors.empty}">
		<h3>No Actors found!</h3>
	</div>
</body>
</html>