<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
</head>
<!-- ng app ng-init ng-bind ng-show ng-hide ng-true-value ng-false-value 
    ng-model ng-controller ng-view ng-if ng-repeat, ng-click ng-options -->
<body ng-app ng-init="b=10;">

    <div>
        {{5+3}}
        {{a=10; a+5}}
        {{b*b}}
    </div>
    <div>
        <span ng-bind="b"></span>
        <input type="text" ng-model="x" />
        {{x}}
        <div ng-init="ck=[1,33,567,2099]">
            <ul ng-repeat="c in ck">
                <li>{{c}}</li>
            </ul>
            <hr />
            <ul ng-repeat="c in ck">
                <li ng-if="c>500">{{c}}</li>
            </ul>
        </div>
        <div>
            <input type="radio" ng-model="myradioselect" value="M" />M
            <input type="radio" ng-model="myradioselect" value="F" />F
            You have selected Gender: {{myradioselect}}
            <hr />
            <input type="checkbox" ng-model="db" ng-true-value="'Ok'" ng-false-value="'No'" />
            I agree... Click once for 'Ok'; Twice for 'No' : {{db}}
            <br /><br />
        </div>
        <div>
            Dropdown list: <br />
            <select multiple = multiple ng-model="Opt" ng-options="c for c in ck"></select><br />
            You have selected: {{Opt}}
        </div>
    </div>
</body>
</html>