@{
    ViewData["Title"] = "Home";
}

<div class>
    <h1>Hello, World!</h1>
    <p>To see Customer Data - add /api/customer to localhost</p>
    <p>To see Employee Data - add /api/employee to localhost</p>
</div>
