body {
  background-color: #ffffcc;
}

table {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border: 2px black double;
  padding: 5px;
}

th {
  background-color: #ffff80;
  text-align: left;
  border: 1px black solid;
  color: #cca300;
}
