* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    border: 1px solid #ccc;
}

.flex-container div {
    border: 1px solid #ccc;
    padding: 5px;
    display: flex;
}
#boilerplate {
    background-color: goldenrod;
    border: 1px double white;
    display:flex;
    justify-content: center;
    height: 60px;
    align-items: center;
}
.splash {

}
.splash-caption {

}
.galleries {
    flex-direction: column;
}
.gallery {

}
.slot-1 {
    flex: 1;
}
.slot-2 {
    flex: 2;
}
.slot-3 {
    flex: 3;
}

.gallery-caption {
    flex-direction: column;
}
#footer {
    flex-direction: column;
}
#rogue-gallery {

}
#rogue-caption {

}
#address {
 
}
#address-1 {

}
#address-2 {

}
#footer-stamp {
    background-color: goldenrod;
    border: 1px double white;
    display: flex;
    justify-content: center;
    height: 250px;
    align-items: center;
}
#ff1 {
    font-family: 'East Sea Dokdo', cursive;
}
#ff2 {
    font-family: 'Dokdo', cursive;
}
#ff3 {
    font-family: 'Fascinate Inline', cursive;
}
#ff4 {
    font-family: 'Hind', sans-serif;
}
#ff5 {
    font-family: 'Inconsolata', monospace;
}
#ff6 {
    font-family: 'Work Sans', sans-serif;
}
