* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffb3;
}
span {
    font-family: 'Hind', sans-serif;
}
img {
    border: 1px solid #ccc;
}

.flex-container div {
    border: 1px solid #ccc;
    display: flex;
}
.marquee-font {
    color: darkgoldenrod;
    font-family: 'Inconsolata', monospace;
    font-size: 90px;
}
.marquee-span {
    color: darkgoldenrod;
    font-family: 'Inconsolata', monospace;
}
.dokdo-span {
    color: orangered;
    font-family: 'Dokdo', cursive;
}
.boilerplate {
    background-color: goldenrod;
    border: 1px double white;
    display:flex;
    justify-content: center;
    height: 60px;
    align-items: center;
}
.splash {
    padding: 5px;
}
.knight-left {
    flex: 1;
    justify-content: flex-start;
}
.knight-right {
    flex: 1;
    justify-content: flex-end;
}
.marquee {
    flex: 3;
    justify-content: center;
    align-items: center;
}
.splash-caption {
    font-family: 'Work Sans', sans-serif;
    padding: 40px 0;
    flex-direction: column;
    align-items: center;
}
.galleries {
    padding: 5px;
    flex-direction:column;
}

.gallery-box-1 {
    flex-basis: 26%;
}

.gallery-caption {
    flex-direction: column;
    padding: 5px 30px 0px;
    flex-basis: 22%;
}
    .gallery-caption p {
        font-family: 'Work Sans', sans-serif;
        font-size: 16px;
        text-align: justify;
    }

.footer {
    padding: 5px;
    flex-direction: column;
}
#rogue-gallery {

}
#rogue-caption {
    font-family: 'Work Sans', sans-serif;
    text-align: justify;
    font-size: 20px;
    flex: 3;
    padding: 10px 40px;
}
.address {
    padding: 70px 0;
    display: flex;
    flex-direction: column;
}
#address-1 {
    font-size: 28px;
    flex-basis: 35%;
    justify-content: flex-start;
    padding: 60px 260px;
}
#address-2 {
    font-size: 20px;
    flex-basis: 33%;
    justify-content: center;
    padding: 17px 0px;
}
#address-3 {
    font-size: 24px;
    flex-basis: 35%;
    justify-content: center;
    padding: 7px 0px;
}
.stamp {
    background-color: goldenrod;
    border: 1px double white;
    display: flex;
    justify-content: center;
    height: 250px;
    align-items: center;
}
#ff1 {
    font-family: 'East Sea Dokdo', cursive;
}
#ff2 {
    font-family: 'Dokdo', cursive;
}
#ff3 {
    font-family: 'Fascinate Inline', cursive;
}
#ff4 {
    font-family: 'Hind', sans-serif;
}
#ff5 {
    font-family: 'Inconsolata', monospace;
}
#ff6 {
    font-family: 'Work Sans', sans-serif;
}
